---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import HeaderLink from "../../components/HeaderLink.astro";
import Header from "../../components/Header.jsx";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .filter((post) => !post.data.draft);
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <Header client:only="react">
      <HeaderLink href="/">jakub::sobolewski</HeaderLink>
      <HeaderLink href="/#blog">blog</HeaderLink>
    </Header>
    <main class="bg-marine-50">
      <div class="max-w-[65ch] px-2 mx-auto pt-16">
        <p class="text-2xl text-gray-600">
          There are {posts.length} posts tagged with
          <span class="uppercase font-bold">{tag}</span>
        </p>
        <section>
          <PostList posts={posts} />
        </section>
      </div>
    </main>
  </BaseLayout>
</html>
