---
import AnimatedLink from "./AnimatedLink.astro";
import { Section } from "@/components/ui/section";
import Subscribe from "@/components/Subscribe.astro";
import { getFooterRoutes, getSocialLinks } from "../lib/routes";

const today = new Date();

// Get routes automatically
const footerRoutes = getFooterRoutes();
const socialLinks = getSocialLinks();
---

<footer>
  <Section variant="dark" className="border-t">
    <div class="container mx-auto h-full flex flex-col justify-between">
      <div
        class="grid grid-cols-1 gap-20 lg:grid-cols-2 place-items-start
        h-full
        text-4xl
        py-40"
      >
        <div class="lg:justify-self-center flex flex-col gap-8">
          <div class="color-sky-400">
            <h1 class="text-6xl uppercase font-light">
              Learn efficient R development
            </h1>
          </div>
          <div class="text-lg">
            <Subscribe variant="blog" />
          </div>
        </div>
        <div class="lg:justify-self-center font-light">
          <div class="flex flex-row gap-10">
            <div class="flex flex-col gap-4">
              <h2 class="text-muted">Quick links</h2>
              <ul class="list-none text-muted-foreground space-y-4">
                {
                  footerRoutes.map((route) => (
                    <li class="transition-colors hover:text-muted">
                      <a href={route.path}>{route.label}</a>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div class="flex flex-col gap-4">
              <h2 class="text-muted">Let's connect</h2>
              <ul class="list-none text-muted-foreground space-y-4">
                {
                  socialLinks.map((link) => (
                    <li class="transition-colors hover:text-muted-foreground">
                      <AnimatedLink href={link.path} target="_blank">
                        {link.label}
                      </AnimatedLink>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center text-base text-muted-foreground mt-auto">
        &copy; {today.getFullYear()} Jakub Sobolewski. All rights reserved.
      </div>
    </div>
  </Section>
</footer>
