---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
import { getReadingTime } from "../utils/getReadingTime";

const { posts } = Astro.props;

interface Post {
  slug: string;
  body: any;
  data: {
    title: string;
    description: string;
    pubDate: Date;
    tags: string[];
    readingTime: string;
  };
}
---

<ul class="list-none">
  {
    posts.map((post: Post) => (
      <li class="mb-4 p-4 rounded-lg transition-all bg-marine-50 hover:shadow-lg hover:shadow-sky-50">
        <a href={`/blog/${post.slug}/`}>
          <h1 class="uppercase">{post.data.title}</h1>
          <h2>{post.data.description}</h2>
        </a>
        <div class="flex flex-row items-baseline gap-6">
          <FormattedDate date={post.data.pubDate} />
          <span class="flex gap-2">
            {post.data.tags
              .sort((a, b) => b.localeCompare(a))
              .map((tag) => (
                <Tag value={tag} />
              ))}
          </span>
          <div class="ms-auto text-sky text-sm uppercase">
            {getReadingTime(post.body)}
          </div>
        </div>
      </li>
    ))
  }
</ul>
