---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";

const { posts } = Astro.props;

interface Post {
  slug: string;
  data: {
    title: string;
    description: string;
    pubDate: Date;
    tags: string[];
  };
}
---

<ul class="list-none">
  {
    posts.map((post: Post) => (
      <li class="mb-8">
        <a href={`/blog/${post.slug}/`}>
          <h4>{post.data.title}</h4>
          <h6>{post.data.description}</h6>
        </a>
        <div class="flex flex-row items-baseline gap-6">
          <FormattedDate date={post.data.pubDate} />
          <span class="flex gap-2">
            {post.data.tags.map((tag) => (
              <Tag value={tag} />
            ))}
          </span>
        </div>
      </li>
    ))
  }
</ul>
