---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="border-l-[1px] border-solid border-gray-400">
			<article class="mx-auto max-w-[720px] max-w-100">
        <header class="border-b-[1px] border-solid border-gray-400 pb-2">
          <h1 class="text-balance">{title}</h1>
          { description && <h2>{description}</h2>}
          <div class="flex flex-row justify-between">
            <div>
              { pubDate && <FormattedDate date={pubDate} /> }
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <div class="flex flex-row">
              {tags.map((tag) => (
                <a
                  class="flex justify-center min-w-16
                  border-[1px] border-solid border-gray-400 rounded-full px-3
                  text-gray-500"
                  href={`/tags/${tag}`}
                >
                  {tag}
                </a>
              ))}
            </div>
          </div>
        </header>
				<div class="mt-2 text-justify">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
