---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Tag from '../components/Tag.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
  <BaseHead title={title} description={description} />

	<body>
		<Header />
		<main class="border-l-[1px] border-solid border-gray-400">
			<article class="mx-auto max-w-[720px] max-w-100">
        <header class="border-b-[1px] border-solid border-gray-400 pb-2">
          <h1 class="text-balance">{title}</h1>
          { description && <h2>{description}</h2>}
          <div class="flex flex-row items-baseline gap-6">
            <div>
              { pubDate && <FormattedDate date={pubDate} /> }
              {
                updatedDate && (
                  <div>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <span class="flex gap-2">
              {tags.map((tag) => (<Tag value={tag}/>))}
            </span>
          </div>
        </header>
				<div class="prose mt-2 text-justify">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
