---
import BaseLayout from "./BaseLayout.astro";
import Comments from "../components/Comments.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";
import { getReadingTime } from "../utils/getReadingTime";

const { post } = Astro.props;
const readingTime = getReadingTime(post.body);
const { title, description, pubDate, updatedDate, tags } = post.data;
---

<html lang="en">
  <BaseLayout title={title} description={description}>
    <main>
      <article
        class="prose
          prose-headings:font-syne
          prose-h1:uppercase
          prose-h1:font-syne
          prose-h1:font-semibold
          prose-p:my-2
          prose-pre:font-code
          prose-pre:rounded-none
          prose-pre:border-x-[1px]
          prose-pre:border-border-solid
          prose-pre:border-border-gray-400
          prose-blockquote:font-light
          mx-auto"
      >
        <header class="border-b-[1px] border-solid border-gray-400 pb-2">
          <h1 class="lead text-balance">{title}</h1>
          {description && <h2 class="m-0">{description}</h2>}
          <div class="flex flex-row items-baseline gap-6">
            <div>
              {pubDate && <FormattedDate date={pubDate} />}
              {
                updatedDate && (
                  <div>
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <span class="flex gap-2">
              {
                tags
                  .sort((a: string, b: string): any => b.localeCompare(a))
                  .map((tag: any): any => <Tag value={tag} />)
              }
            </span>
            <div class="ms-auto text-gray-500 text-sm uppercase">
              {readingTime}
            </div>
          </div>
        </header>
        <slot />
        <Comments />
      </article>
    </main>
  </BaseLayout>
</html>
